.nav-link {
    color: #141010 !important;
    font-size: 18px;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(255, 183, 0) !important;
    transform: scale(1.03);
}

.bg-custom {
    background-color: #fff;
}

.bg-custom-btn {
    background-color: rgb(255, 183, 0);
}

.btn {
    /* font-size: 20px; */
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.btn:hover {
    color: rgb(255, 183, 0) !important;
    transform: scale(0.3s);
}

/* @media (max-width: 576px) { */
    .stats-card {
        max-width: 320px;
        padding: 15px;
    }

    .stats-card img {
        max-height: 140px;
        object-fit: cover;
    }
/* } */

span {
    color: rgb(226, 162, 0);
}

.rounded-hero {
    background: #CBCBCB;
    border-radius: 20px;
    padding: 25px;

    /* ukuran box agar kecil seperti contoh */
    width: 70%;               /* bisa diganti 80%, 70% sesuai selera */
    max-width: 1000px;        /* batas maksimal agar tidak terlalu lebar */
}

/* gambar di dalam */
.hero-image {
   width: 100%;
   max-height: 420px;
   display: block;
   margin-top: 20px;
}

.rounded-hero h2 {
    font-size: 50px;
    font-weight: bold;
    /* color: #fff; */
}

.rounded-hero p {
    color: #030303;
    font-size: 20px;
    /* font-weight: bold; */
}

.testimonial-card {
    background: #0000;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.05);
}

.user-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

/* Tombol slider */
/* ==== POSISI TOMBOL SLIDER ==== */
.nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
    }

    .slider-prev { left: -20px; }
    .slider-next { right: -20px; }

    .nav-btn i {
        font-size: 20px;
        color: #fff;
    }
    
/* ==== CENTER SECTION TESTIMONI ==== */
.mySwiper {
    padding-left: 10px;
    padding-right: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;     /* card benar-benar di tengah */
}

.testimonial-card {
    max-width: 350px;            /* biar rapi dan rata tengah */
    margin: 0 auto;
}
.testimonial-card p {
    font-size: 16px;
    color: #141010;
}
.testimonial-card h5 {
    font-size: 18px;
    font-weight: bold;
}
.testimonial-card span {
    color: rgb(255, 183, 0);
}

@media (max-width: 768px) {
    .nav-btn {
        display: none !important;
    }
}